version: '3.8'

volumes:
  postgres_data:
  redis_data:


services:
  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  postgres:
    image: postgres:15
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pipeline:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: unless-stopped
    command: [ 'python', 'src/main.py' ]
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_HOST=redis
      - PYTHONPATH=/app
    depends_on:
      - postgres
      - redis

  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: unless-stopped
    command: [ 'uvicorn', 'src.api:app', '--host', '0.0.0.0', '--port', '80' ]
    ports:
      - '80:80'
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
      - PYTHONPATH=/app
    depends_on:
      - postgres

  vite:
    build:
      context: ./static
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '5173:5173'
    depends_on:
      - api
